################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LB_1/Project_1/.vs/Project_1/v16
/LB_1/Project_2/.vs/Project_2/v16
/LB_1/Project_3/.vs/Project_3/v16
/LB_1/Project_4/.vs/Project_4/v16
/LB_1/Project_5/.vs/Project_5/v16
/LB_1/Project_6/.vs/Project_6/v16
/LB__1/.vs/LB__1/v16
/LB__1/LB__1.vcxproj
/LB__1/LB__1.vcxproj.filters
/LB__1/LB__1.vcxproj.user
/Project__1
/LB__2/.vs/LB__2/v16/Browse.VC.opendb
/LB__2/.vs/LB__2/v16/Browse.VC.db-wal
/LB__2/.vs/LB__2/v16/Browse.VC.db-shm
/LB__1/Release/Project__2.pdb
/LB__1/Release
/LB__1/Project__2/Project__2/Release/Project__2.tlog
/LB__1/Project__2/Project__2/Release
/LB__2/Debug
/LB__2/Project_1
/LB__2/.vs/LB__2/v16/ipch/AutoPCH/89bcc833f841ca30/PROJECT_1.ipch
/LB__2/.vs/LB__2/v16/Solution.VC.db
/LB__2/.vs/LB__2/v16/Solution.VC.db-shm
/LB__2/.vs/LB__2/v16/Solution.VC.db-wal
/LB__1/Debug/Project__2.pdb
/LB__1/Debug/Project__2.ilk
/LB___2/.vs/LB___2/v16/ipch/AutoPCH/297847dd6f3fd850
/LB___2/.vs/LB___2/v16
/LB___2/LB___2.vcxproj
/LB___2/LB___2.vcxproj.filters
/LB___2/LB___2.vcxproj.user
