################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LB_1/Project_1/.vs/Project_1/v16
/LB_1/Project_2/.vs/Project_2/v16
/LB_1/Project_3/.vs/Project_3/v16
/LB_1/Project_4/.vs/Project_4/v16
/LB_1/Project_5/.vs/Project_5/v16
/LB_1/Project_6/.vs/Project_6/v16
/LB__1/.vs/LB__1/v16
/LB__1/LB__1.cpp
/LB__1/LB__1.vcxproj
/LB__1/LB__1.vcxproj.filters
/LB__1/LB__1.vcxproj.user
/Project__1
/LB__2/.vs/LB__2/v16/Browse.VC.opendb
/LB__2/.vs/LB__2/v16/Browse.VC.db-wal
/LB__2/.vs/LB__2/v16/Browse.VC.db-shm
/LB__1/Release/Project__2.pdb
/LB__1/Release
/LB__1/Project__2/Project__2/Release/Project__2.tlog
/LB__1/Project__2/Project__2/Release
