################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LB_1/Project_1/.vs/Project_1/v16
/LB_1/Project_2/.vs/Project_2/v16
/LB_1/Project_3/.vs/Project_3/v16
